extends layout 

block content 
    div.w-full.bg-slate-600.p-3.flex.gap-10.justify-center.items-center
        p.text-2xl.text-bold.text-white Brand: #{brand.name} (#{brand_items.length})
        a.h-12.w-36.bg-sky-300.block.rounded-lg.flex.justify-center.items-center(href="/item/create" + "?brand_name=" + brand.name  class="transition hover:scale-[1.02]") Add new item
        a.h-12.w-36.bg-green-300.block.rounded-lg.flex.justify-center.items-center(href="/brand/" + brand._id + "/update" class="transition hover:scale-[1.02]") Update brand
        a.h-12.w-36.bg-red-300.block.rounded-lg.flex.justify-center.items-center(href="/brand/" + brand._id + "/delete" class="transition hover:scale-[1.02]" disabled) Delete brand
    div.mx-auto.my-10.flex.gap-5.justify-center.flex-wrap(class="max-w-[1140px]")
        for item in brand_items
            a.block(href=item.url)
                div.bg-slate-100.rounded-lg.shadow-xl.relative(class='h-min-[450px] w-[250px] transition hover:scale-[1.02] hover:shadow-xl hover:ring-1')
                    if item.admin
                        p.absolute.text-sm.top-2.right-2.bg-slate-400.p-1.bg-opacity-40.rounded-lg  locked
                    img.w-full.object-contain(src="../uploads/" + item.image alt=item.name class="h-[297px]")
                    div.flex-col.px-3.gap-1.flex
                        p.text-xl.font-bold #{item.name}
                        p.text-lg #{item.price}
                        p.text-lg Avaliable: #{item.stock}
                        div.flex.flex-wrap
                            if item.categories
                                for category in item.categories
                                    a.bg-orange-100.inline-block.p-1.mb-1.mr-1.rounded-md.text-sm(href=category.url class="transition hover:bg-orange-300") #{category.name}