extends layout

block content
  if item
        div.w-full.bg-slate-600.p-3.flex.gap-10.justify-center.items-center
            p.text-2xl.text-bold.text-white #{title} - #[a(href="/item/" + item._id class="text-blue-300") #{item.name} ]
  else 
        div.w-full.bg-slate-600.p-3.flex.gap-10.justify-center.items-center
            p.text-2xl.text-bold.text-white #{title}
  if item
    if item.admin
      div.w-full.bg-blue-200.p-3.flex.gap-10.justify-center.items-center
          p.text-2xl.text-bold This item is protected by admin
  form.flex.flex-col.gap-3.mx-auto(method='POST' action='' class="max-w-[700px] min-w-[300px] p-2" enctype="multipart/form-data")
    div.flex.gap-2.items-center
        label(for="name") Name:
        input.w-full.bg-slate-100.p-2.rounded-md(type='text' placeholder='Name' name='name' id="name" required="true" class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)]" value=(undefined===item ? '' : item.name) )
    div.flex.gap-2.items-center
        label(for='brand') Brand:
        select.w-full.bg-slate-100.p-2.rounded-md(type='select' placeholder='Select brand' name='brand' required='true', class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)]")
          for brand in brands
            if item
              option(
                value=brand._id
                selected=(
                  brand._id.toString()==item.brand._id
                  || brand._id.toString()==item.brand
                  || brand.selected
                ) ? 'selected' : false
              ) #{brand.name}
            else if brand
              option(
                value=brand._id
                selected=(
                  brand.selected
                ) ? 'selected' : false
              ) #{brand.name}
            else
              option(value=brand._id) #{brand.name}
    div.flex.gap-2.items-center
        label(for="price") Price:
        input.w-full.bg-slate-100.p-2.rounded-md(type='number' min="0" placeholder='Price' id="price" name='price' required='true' class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)] invalid:text-pink-600" value=(undefined===item ? '' : item.price) )
    div.flex.gap-2.items-center
        label(for="description") Description:
        textarea.w-full.bg-slate-100.p-2.rounded-md(placeholder='Description' id="description" name='description' required='true' class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)]") #{undefined===item ? '' : item.description}
    div.flex.gap-2.items-center
        label(for="stock") Stock:
        input.w-full.bg-slate-100.p-2.rounded-md(type='number' min="0" placeholder='Number in stock' id="stock" name='stock' required='true' class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)] invalid:text-pink-600" value=(undefined===item ? '' : item.stock) )
    div.flex.gap-2.items-center
        div.flex.gap-x-4.flex-wrap  Categories:
            for category in categories
                div.flex.justify-center.items-center.gap-x-1
                    input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked class="h-5 w-5")
                    label(for=category._id class="checked:bg-slate-300 z-10 relative") #{category.name}
    div.flex.gap-2.items-center
        label(for="image") Item image:
        input(type="file" required="true" name="itemimage" id="image" accept=".png, .jpg, .jpeg" class="file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:transition file:bg-orange-100 hover:file:bg-orange-300")
    if item
      if item.admin
        div.flex.gap-2.items-center
          label(for="word") Password:
          input.w-full.bg-slate-100.p-2.rounded-md(placeholder='Admin password' type="text" id="word" name='word' required='true' class="focus:outline-none transition hover:shadow-[0px_0px_3px_rgba(0,0,0,0.3)] focus:shadow-[0px_0px_3px_rgba(0,0,0,0.7)]")
      else 
        input(type='hidden' name='admin', required='true', value="false" )
    if errors
        ul.text-red-900.bg-red-200.p-3.rounded-lg
            for error in errors
                li!= error.msg
    div.flex.gap-x-10.justify-center.my-5
      button.h-12.w-36.bg-green-300.block.rounded-lg(type='submit' class="transition hover:scale-[1.02] hover:bg-green-400") Submit
      a.h-12.w-36.bg-blue-300.block.rounded-lg.flex.justify-center.items-center(href=(undefined===item ? "/item" : item.url) class="transition hover:scale-[1.02] hover:bg-blue-400") Cancel